## Week 2

### Exercise:
Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as `groupby()` and `read_csv()`.

In [1]:
# You can find covid related data under project's data folder 
base_url = 'C:\\Users\\HP\\Data-Science\\dersler\\data\\covid\\'
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

#### Solution:

In [2]:
import numpy as np
import pandas as pd

In [3]:
# read data to dataframes from csv files
infected_data = pd.read_csv(infected_dataset_url)
recovered_data = pd.read_csv(recovered_dataset_url)
deaths_data = pd.read_csv(deaths_dataset_url)

### Infected Data

In [4]:
infected_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142

In [5]:
infected_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [6]:
infected_data.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,21.148043,22.538640,2.086466,2.458647,3.537594,5.390977,7.962406,11.003759,20.969925,23.180451,...,2.594981e+04,2.637496e+04,2.676449e+04,2.722817e+04,2.773058e+04,2.825084e+04,2.873782e+04,2.924391e+04,2.974596e+04,3.020474e+04
std,24.909990,70.466256,27.279200,27.377862,34.083035,47.434934,66.289178,89.313757,219.187744,220.524977,...,1.333309e+05,1.349130e+05,1.363934e+05,1.382464e+05,1.402889e+05,1.424252e+05,1.445871e+05,1.467117e+05,1.484660e+05,1.502466e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.907750,-18.093125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.572500e+02,1.572500e+02,1.572500e+02,1.580000e+02,1.625000e+02,1.650000e+02,1.710000e+02,1.722500e+02,1.760000e+02,1.760000e+02
50%,23.488100,20.972650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.535000e+02,9.710000e+02,9.820000e+02,9.825000e+02,9.825000e+02,9.830000e+02,1.005000e+03,1.005000e+03,1.005000e+03,1.005000e+03
75%,41.143200,77.191525,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.094500e+03,7.117250e+03,7.427000e+03,7.706750e+03,8.005750e+03,8.194000e+03,8.334500e+03,8.452500e+03,8.586500e+03,8.608750e+03
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,1.926538e+06,1.944309e+06,1.961781e+06,1.979868e+06,2.000702e+06,2.023590e+06,2.048986e+06,2.074526e+06,2.094058e+06,2.114026e+06

In [7]:
infected_data.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [8]:
print(infected_data.shape)
print(infected_data.ndim)
print(infected_data.size)

(266, 150)
2
39900

In [9]:
infected_data.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
6/11/20             int64
6/12/20             int64
6/13/20             int64
6/14/20             int64
6/15/20             int64
Length: 150, dtype: object

In [10]:
infected_data.values

array([[nan, 'Afghanistan', 33.0, ..., 24102, 24766, 25527],
       [nan, 'Albania', 41.1533, ..., 1464, 1521, 1590],
       [nan, 'Algeria', 28.0339, ..., 10810, 10919, 11031],
       ...,
       [nan, 'Comoros', -11.6455, ..., 176, 176, 176],
       [nan, 'Tajikistan', 38.861034, ..., 4971, 5035, 5097],
       [nan, 'Lesotho', -29.609988, ..., 4, 4, 4]], dtype=object)

In [11]:
# Acsessing data through iloc
print(infected_data.iloc[0])
print("###########")
print(infected_data.iloc[0, 1])
print("###########")
print(infected_data.iloc[-1, 3])

Province/State            NaN
Country/Region    Afghanistan
Lat                      33.0
Long                     65.0
1/22/20                     0
                     ...
6/11/20                 22890
6/12/20                 23546
6/13/20                 24102
6/14/20                 24766
6/15/20                 25527
Name: 0, Length: 150, dtype: object
###########
Afghanistan
###########
28.233608

In [12]:
infected_data['Country/Region']

0                Afghanistan
1                    Albania
2                    Algeria
3                    Andorra
4                     Angola
               ...
261    Sao Tome and Principe
262                    Yemen
263                  Comoros
264               Tajikistan
265                  Lesotho
Name: Country/Region, Length: 266, dtype: object

In [13]:
# Getting unique values from country column
infected_data['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Diamond Princess', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'US', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Zambia', 'Zimbabwe', 'Dominica', 'Grenada',
       'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya',
       'West Bank and Gaza', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'Kosovo', 'Burma', 'MS Zaandam',
       'Botswana', 'Burundi', 'Sierra Leone', 'Malawi', 'South Sudan',
       'Western Sahara', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho'], dtype=object)

In [14]:
# Number of unique country values. 
infected_data['Country/Region'].unique().size

188

In [16]:
#Get the same country/region data
infected_data[infected_data['Country/Region'].duplicated()]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,3109,3112,3114,3117,3117,3115,3119,3128,3131,3134
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,29,29,29,29,29,29,29,29,29,29
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,1061,1062,1062,1062,1063,1064,1065,1065,1065,1065
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,440,440,440,440,440,440,440,440,440,440
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,228,228,228,228,228,228,228,228,228,228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,British Virgin Islands,United Kingdom,18.4207,-64.6400,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
250,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
255,"Bonaire, Sint Eustatius and Saba",Netherlands,12.1784,-68.2385,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,7
257,Falkland Islands (Malvinas),United Kingdom,-51.7963,-59.5236,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
258,Saint Pierre and Miquelon,France,46.8852,-56.3159,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [17]:
#Checking if Country/Region column has missing data
infected_data[infected_data['Country/Region'].isnull() == True]

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, ...]
Index: []

[0 rows x 150 columns]

In [94]:
#Checking if Province/State column has missing data
infected_data['Province/State'].isnull() == True

0      True
1      True
2      True
3      True
4      True
       ...
261    True
262    True
263    True
264    True
265    True
Name: Province/State, Length: 266, dtype: bool

In [19]:
# Another way of checking the missing values from Province/State column
infected_data['Province/State'][infected_data['Province/State'].isnull() == True]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
261    NaN
262    NaN
263    NaN
264    NaN
265    NaN
Name: Province/State, Length: 185, dtype: object

In [20]:
#Getting missing values' rows from Province/State column 
infected_data[infected_data['Province/State'].isnull() == True]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [21]:
# For null values in Province/State fill with empty string "" 
infected_data['Province/State']=infected_data['Province/State'].fillna("")

In [22]:
infected_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [23]:
#if Provience/State is null replace it with country/region value
# Then we will use it for indexing and we will drop Province/State 
for ind, item in (infected_data['Province/State'].items()):
    if item == '': 
        infected_data.iloc[ind,0]=infected_data.iloc[ind,1]

In [24]:
len(infected_data['Province/State'].unique().tolist())

265

In [25]:
#Chek if Province/State column has the same value in any row
infected_data[infected_data['Province/State'].duplicated()]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
231,Diamond Princess,Canada,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
infected_data[infected_data['Province/State'] == 'Diamond Princess']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
88,Diamond Princess,Diamond Princess,0.0,0.0,0,0,0,0,0,0,...,712,712,712,712,712,712,712,712,712,712
231,Diamond Princess,Canada,0.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# Change one of the duplicated value for to be unique
infected_data.iloc[231,0]='Diamond Priencess (Canada)'

In [28]:
#Set Province/State column to be index
infected_data.index = infected_data['Province/State'].unique().tolist()

In [30]:
#Drop the Province/State column
infected_data = infected_data.drop(columns=['Province/State'])

In [31]:
infected_data

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Afghanistan,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
Albania,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
Algeria,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
Andorra,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
Angola,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
Yemen,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
Comoros,Comoros,-11.645500,43.333300,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
Tajikistan,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
Lesotho,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [32]:
#Transpoze the data and get the number of infected people based on country and dates
infected_data_date_index = infected_data.T[3:]

In [33]:
infected_data_date_index

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australian Capital Territory,New South Wales,...,Malawi,Falkland Islands (Malvinas),Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6/11/20,22890,1385,10589,852,118,26,27373,14669,108,3115,...,481,13,1,1670,9,632,591,162,4834,4
6/12/20,23546,1416,10698,853,130,26,28764,15281,108,3119,...,481,13,1,1670,9,639,632,163,4902,4
6/13/20,24102,1464,10810,853,138,26,30295,16004,108,3128,...,529,13,1,1693,9,659,705,176,4971,4
6/14/20,24766,1521,10919,853,140,26,31577,16667,108,3131,...,547,13,1,1693,9,661,728,176,5035,4
6/15/20,25527,1590,11031,853,142,26,32785,17064,108,3134,...,555,13,1,1693,9,662,844,176,5097,4

In [34]:
# Getting data where country is Canada
infected_data[infected_data['Country/Region'] == 'Canada']

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,0,...,7138,7138,7202,7229,7276,7316,7346,7383,7433,7453
British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,1,...,2632,2632,2659,2669,2680,2694,2709,2709,2709,2745
Grand Princess,Canada,37.6489,-122.6655,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
Manitoba,Canada,53.7609,-98.8139,0,0,0,0,0,0,0,...,300,300,300,300,300,300,301,303,304,304
New Brunswick,Canada,46.5653,-66.4619,0,0,0,0,0,0,0,...,136,137,146,147,151,153,154,157,157,160
Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,0,...,261,261,261,261,261,261,261,261,261,261
Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,0,...,1058,1059,1059,1060,1061,1061,1061,1061,1061,1061
Ontario,Canada,51.2538,-85.3232,0,0,0,0,1,1,1,...,31620,32096,32395,32678,32936,33173,33378,33625,33806,33986
Prince Edward Island,Canada,46.5107,-63.4168,0,0,0,0,0,0,0,...,27,27,27,27,27,27,27,27,27,27
Quebec,Canada,52.9399,-73.5491,0,0,0,0,0,0,0,...,52624,52849,53047,53185,53341,53485,53666,53824,53952,54054
Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,0,...,650,650,654,656,658,660,663,664,665,683
Diamond Priencess (Canada),Canada,0.0000,0.0000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11

In [35]:
# Getting data from Turkey through loc
infected_data.loc['Turkey'].to_frame()

                 Turkey
Country/Region   Turkey
Lat             38.9637
Long            35.2433
1/22/20               0
1/23/20               0
...                 ...
6/11/20          174023
6/12/20          175218
6/13/20          176677
6/14/20          178239
6/15/20          179831

[149 rows x 1 columns]

In [38]:
#Calculatin mean of Lat and Long columns
infected_data[['Lat','Long']].mean()

Lat     21.148043
Long    22.538640
dtype: float64

In [40]:
# Getting data where there is at least one infected person on 1/22/20
(infected_data[infected_data['1/22/20'] > 0 ] )[['Country/Region','Lat','Long','1/22/20']]

             Country/Region      Lat      Long  1/22/20
Anhui                 China  31.8257  117.2264        1
Beijing               China  40.1824  116.4142       14
Chongqing             China  30.0572  107.8740        6
Fujian                China  26.0789  117.9874        1
Guangdong             China  23.3417  113.4244       26
Guangxi               China  23.8298  108.7881        2
Guizhou               China  26.8154  106.8748        1
Hainan                China  19.1959  109.7453        4
Hebei                 China  39.5490  116.1306        1
Henan                 China  33.8820  113.6140        5
Hubei                 China  30.9756  112.2707      444
Hunan                 China  27.6104  111.7088        4
Jiangsu               China  32.9711  119.4550        1
Jiangxi               China  27.6140  115.7221        2
Liaoning              China  41.2956  122.6085        2
Macau                 China  22.1667  113.5500        1
Ningxia               China  37.2692  106.1655        1
Shandong              China  36.3427  118.1498        2
Shanghai              China  31.2020  121.4491        9
Shanxi                China  37.5777  112.2922        1
Sichuan               China  30.6171  102.7103        5
Tianjin               China  39.3054  117.3230        4
Yunnan                China  24.9740  101.4870        1
Zhejiang              China  29.1832  120.0934       10
Japan                 Japan  36.0000  138.0000        2
Korea, South   Korea, South  36.0000  128.0000        1
Taiwan*             Taiwan*  23.7000  121.0000        1
Thailand           Thailand  15.0000  101.0000        2
US                       US  37.0902  -95.7129        1

In [39]:
# Getting data for above the average infected people number on 6/6/20
(infected_data[infected_data['6/6/20'] > infected_data['6/6/20'].mean()  ] )[['Country/Region','Lat','Long','6/6/20']]

                            Country/Region      Lat      Long   6/6/20
Bangladesh                      Bangladesh  23.6850   90.3563    63026
Belarus                            Belarus  53.7098   27.9534    47751
Belgium                            Belgium  50.8333    4.0000    59072
Brazil                              Brazil -14.2350  -51.9253   672846
Ontario                             Canada  51.2538  -85.3232    31620
Quebec                              Canada  52.9399  -73.5491    52624
Chile                                Chile -35.6751  -71.5430   127745
Hubei                                China  30.9756  112.2707    68135
Colombia                          Colombia   4.5709  -74.2973    36759
Ecuador                            Ecuador  -1.8312  -78.1834    42728
Egypt                                Egypt  26.0000   30.0000    32612
France                              France  46.2276    2.2137   187067
Germany                            Germany  51.0000    9.0000   185450
India                                India  21.0000   78.0000   246622
Indonesia                        Indonesia  -0.7893  113.9213    30514
Iran                                  Iran  32.0000   53.0000   169425
Italy                                Italy  43.0000   12.0000   234801
Kuwait                              Kuwait  29.5000   47.7500    31131
Mexico                              Mexico  23.6345 -102.5528   113619
Netherlands                    Netherlands  52.1326    5.2913    47335
Pakistan                          Pakistan  30.3753   69.3451    98943
Peru                                  Peru  -9.1900  -75.0152   191758
Poland                              Poland  51.9194   19.1451    25986
Portugal                          Portugal  39.3999   -8.2245    34351
Qatar                                Qatar  25.3548   51.1839    67195
Russia                              Russia  60.0000   90.0000   458102
Saudi Arabia                  Saudi Arabia  24.0000   45.0000    98869
Singapore                        Singapore   1.2833  103.8333    37527
South Africa                  South Africa -30.5595   22.9375    45973
Spain                                Spain  40.0000   -4.0000   241310
Sweden                              Sweden  63.0000   16.0000    43887
Switzerland                    Switzerland  46.8182    8.2275    30956
Turkey                              Turkey  38.9637   35.2433   169218
Ukraine                            Ukraine  48.3794   31.1656    27101
United Arab Emirates  United Arab Emirates  24.0000   54.0000    38268
United Kingdom              United Kingdom  55.3781   -3.4360   284868
US                                      US  37.0902  -95.7129  1926538

### Recovered Dataset

In [41]:
# Getting first ten rows
recovered_data[0:10]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,20,20,20,20,20,20,20,20,20,20
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,6180,6909,7305,7568,7991,8332,8743,9083,9564,9891
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,3720,4014,4099,4451,5226,5466,5639,6081,6214,6276
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,0,0,...,2723,2724,2729,2735,2738,2743,2763,2766,2766,2768

In [42]:
print(recovered_data.shape)
print(recovered_data.ndim)
print(recovered_data.size)

(253, 150)
2
37950

In [43]:
recovered_data.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [44]:
recovered_data.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
count,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,...,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000
mean,19.801381,28.168223,0.110672,0.118577,0.142292,0.154150,0.205534,0.241107,0.422925,0.498024,...,12200.462451,12418.221344,13017.422925,13342.561265,13655.363636,13994.845850,14309.928854,14649.616601,14929.371542,15246.395257
std,24.558602,67.091761,1.760345,1.764332,1.954723,2.020714,2.649732,2.852382,5.059859,5.566071,...,45385.270037,46080.182589,49367.550747,50619.617774,51853.086506,53053.696884,54201.624274,55395.919475,56272.526749,57482.644173
min,-51.796300,-106.346800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.428100,-7.692100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,93.000000,93.000000,98.000000,98.000000,98.000000,98.000000,104.000000,109.000000,109.000000,109.000000
50%,21.694000,23.881300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,586.000000,596.000000,603.000000,621.000000,651.000000,651.000000,651.000000,653.000000,667.000000,673.000000
75%,39.305400,85.240100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2971.000000,2972.000000,2973.000000,2973.000000,3013.000000,3326.000000,3758.000000,3874.000000,3929.000000,3931.000000
max,71.706900,178.065000,28.000000,28.000000,31.000000,32.000000,42.000000,45.000000,80.000000,88.000000,...,500849.000000,506367.000000,518522.000000,524855.000000,533504.000000,540292.000000,547386.000000,556606.000000,561816.000000,576334.000000

In [45]:
#Doing the same thing for indexing
recovered_data['Province/State']=recovered_data['Province/State'].fillna("")
for ind, item in (recovered_data['Province/State'].items()):
    if item == '': 
        recovered_data.iloc[ind,0]=recovered_data.iloc[ind,1]

In [46]:
recovered_data.index = recovered_data['Province/State'].unique().tolist()

In [47]:
recovered_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Afghanistan,Afghanistan,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
Albania,Albania,Albania,41.153300,20.168300,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
Algeria,Algeria,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
Andorra,Andorra,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
Angola,Angola,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,Sao Tome and Principe,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
Yemen,Yemen,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
Comoros,Comoros,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
Tajikistan,Tajikistan,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
Lesotho,Lesotho,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [48]:
recovered_data.drop(columns='Province/State')

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Afghanistan,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
Albania,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
Algeria,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
Andorra,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
Angola,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
Yemen,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
Comoros,Comoros,-11.645500,43.333300,0,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
Tajikistan,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
Lesotho,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [49]:
recovered_data_date_index=(recovered_data.T)[4:]

In [50]:
recovered_data_date_index

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australian Capital Territory,New South Wales,...,Malawi,Falkland Islands (Malvinas),Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6/11/20,3326,1001,7255,780,41,20,8332,5466,104,2743,...,55,13,1,48,6,146,23,97,3062,2
6/12/20,3928,1034,7322,781,42,20,8743,5639,104,2763,...,65,13,1,48,6,156,28,97,3158,2
6/13/20,4201,1039,7420,781,61,20,9083,6081,104,2766,...,66,13,1,49,8,176,39,114,3288,2
6/14/20,4725,1044,7606,781,61,20,9564,6214,104,2766,...,69,13,1,49,8,177,53,114,3409,2
6/15/20,5164,1055,7735,789,64,20,9891,6276,104,2768,...,69,13,1,49,8,177,79,114,3503,2

In [54]:
# Calculating mean of recovered people number per day base on location
recovered_data_date_index.mean()

Afghanistan               463.787671
Albania                   303.410959
Algeria                  1622.664384
Andorra                   243.061644
Angola                      7.684932
                            ...
Sao Tome and Principe      14.431507
Yemen                       3.931507
Comoros                     9.232877
Tajikistan                401.636986
Lesotho                     0.219178
Length: 253, dtype: object

In [57]:
# Getting data for recovered people number on 6/11/20 base on locattion
recovered_data_date_index.loc['6/11/20']

Afghanistan              3326
Albania                  1001
Algeria                  7255
Andorra                   780
Angola                     41
                         ...
Sao Tome and Principe     146
Yemen                      23
Comoros                    97
Tajikistan               3062
Lesotho                     2
Name: 6/11/20, Length: 253, dtype: object

In [56]:
## Boolean values for where recovered people number more than 50 in Turkey
recovered_data_date_index['Turkey'] > 50

1/22/20    False
1/23/20    False
1/24/20    False
1/25/20    False
1/26/20    False
           ...
6/11/20     True
6/12/20     True
6/13/20     True
6/14/20     True
6/15/20     True
Name: Turkey, Length: 146, dtype: bool

In [55]:
## Getting the dates and recovered people number where recovered people number more than 30000 in Turkey
(recovered_data_date_index.loc[recovered_data_date_index['Turkey'] > 30000])['Turkey'].to_frame()

         Turkey
4/27/20   33791
4/28/20   38809
4/29/20   44040
4/30/20   48886
5/1/20    53808
5/2/20    58259
5/3/20    63151
5/4/20    68166
5/5/20    73285
5/6/20    78202
5/7/20    82984
5/8/20    86396
5/9/20    89480
5/10/20   92691
5/11/20   95780
5/12/20   98889
5/13/20  101715
5/14/20  104030
5/15/20  106133
5/16/20  108137
5/17/20  109962
5/18/20  111577
5/19/20  112895
5/20/20  113987
5/21/20  114990
5/22/20  116111
5/23/20  117602
5/24/20  118694
5/25/20  120015
5/26/20  121507
5/27/20  122793
5/28/20  124369
5/29/20  125963
5/30/20  126984
5/31/20  127973
6/1/20   128947
6/2/20   129921
6/3/20   130852
6/4/20   131778
6/5/20   133400
6/6/20   135322
6/7/20   137969
6/8/20   141380
6/9/20   144598
6/10/20  146839
6/11/20  147860
6/12/20  149102
6/13/20  150087
6/14/20  151417
6/15/20  152364

In [165]:
#Getting dates and recovered people number in Turkey and France where recovered people number in Turkey  more than France
(recovered_data_date_index.loc[recovered_data_date_index['Turkey'] > recovered_data_date_index['France']])[['Turkey', 'France']]

         Turkey France
4/30/20   48886  48572
5/1/20    53808  49300
5/2/20    58259  49751
5/3/20    63151  49973
5/4/20    68166  50438
5/5/20    73285  51803
5/6/20    78202  53022
5/7/20    82984  54076
5/8/20    86396  54770
5/9/20    89480  54886
5/10/20   92691  55062
5/11/20   95780  55569
5/12/20   98889  56617
5/13/20  101715  57368
5/14/20  104030  58300
5/15/20  106133  59143
5/16/20  108137  59142
5/17/20  109962  59907
5/18/20  111577  60416
5/19/20  112895  61246
5/20/20  113987  61713
5/21/20  114990  62216
5/22/20  116111  62557
5/23/20  117602  62893
5/24/20  118694  62961
5/25/20  120015  63542
5/26/20  121507  64222
5/27/20  122793  64503
5/28/20  124369  65098
5/29/20  125963  65599
5/30/20  126984  66051
5/31/20  127973  66123
6/1/20   128947  66120
6/2/20   129921  66485
6/3/20   130852  67031
6/4/20   131778  67510
6/5/20   133400  68007
6/6/20   135322  68282
6/7/20   137969  68283
6/8/20   141380  68319
6/9/20   144598  68736
6/10/20  146839  69032
6/11/20  147860  69344
6/12/20  149102  69578
6/13/20  150087  69783
6/14/20  151417  69820
6/15/20  152364  69719

In [58]:
# Same thing with query method
recovered_data_date_index.query('Turkey > France')

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australian Capital Territory,New South Wales,...,Malawi,Falkland Islands (Malvinas),Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
4/30/20,260,470,1779,468,7,11,1256,929,103,2293,...,7,11,0,0,5,4,1,0,0,0
5/1/20,310,488,1821,468,11,15,1292,977,103,2293,...,9,13,0,0,5,4,1,0,0,0
5/2/20,331,519,1872,472,11,15,1320,1010,103,2306,...,9,13,0,0,5,4,1,0,0,0
5/3/20,345,531,1936,493,11,15,1354,1035,103,2328,...,9,13,0,0,5,4,1,0,0,0
5/4/20,397,543,1998,499,11,15,1442,1071,103,2349,...,9,13,0,0,5,4,1,0,0,0
5/5/20,421,570,2067,514,11,16,1472,1111,103,2418,...,9,13,0,0,5,4,1,0,0,0
5/6/20,458,595,2197,521,11,16,1524,1135,103,2463,...,9,13,0,0,5,4,1,0,0,0
5/7/20,468,605,2323,526,11,16,1601,1185,103,2486,...,14,13,0,0,5,4,1,0,0,0
5/8/20,472,620,2467,537,11,16,1659,1218,103,2504,...,14,13,0,2,5,4,1,0,0,0
5/9/20,502,627,2546,545,13,19,1728,1267,104,2504,...,14,13,0,2,5,4,1,0,0,0
5/10/20,558,650,2678,550,13,19,1757,1325,104,2517,...,14,13,0,2,5,4,1,0,0,0
5/11/20,558,654,2841,550,13,19,1837,1359,104,2543,...,24,13,1,2,6,4,1,0,0,0
5/12/20,610,682,2998,568,13,19,1862,1430,104,2571,...,24,13,1,2,6,4,1,0,0,0
5/13/20,648,688,3058,576,14,19,2266,1500,104,2595,...,24,13,1,2,6,4,1,0,0,0
5/14/20,691,694,3158,596,14,19,2385,1572,104,2605,...,24,13,1,3,6,4,1,3,0,0
5/15/20,745,705,3271,604,17,19,2497,1666,104,2611,...,24,13,1,4,6,4,1,3,0,0
5/16/20,745,714,3409,615,17,19,2534,1791,104,2611,...,24,13,1,4,6,4,1,3,0,0
5/17/20,778,715,3507,617,17,19,2569,1925,104,2612,...,27,13,1,4,6,4,1,3,0,0
5/18/20,801,727,3625,624,17,19,2625,2019,104,2614,...,27,13,1,4,6,4,1,3,0,0
5/19/20,850,742,3746,628,17,19,2872,2164,104,2631,...,27,13,1,4,6,4,5,3,641,0
5/20/20,930,758,3968,639,17,19,2933,2419,104,2648,...,27,13,1,4,6,4,5,8,470,0
5/21/20,938,771,4062,639,17,19,3032,2581,104,2648,...,27,13,1,4,6,4,5,8,470,0
5/22/20,996,777,4256,652,17,19,3062,2874,104,2653,...,28,13,1,6,6,4,11,18,1089,0
5/23/20,1040,783,4426,653,18,19,3530,2936,104,2653,...,28,13,1,6,6,4,11,18,1223,0
5/24/20,1075,789,4784,653,18,19,3732,3064,104,2656,...,33,13,1,6,6,4,10,21,1301,0
5/25/20,1097,795,4747,663,18,19,3999,3145,104,2661,...,33,13,1,6,6,4,10,21,1395,0
5/26/20,1128,803,4918,676,18,19,4167,3220,104,2663,...,37,13,1,6,6,68,10,21,1417,0
5/27/20,1138,812,5129,676,18,19,4349,3255,104,2670,...,37,13,1,6,6,68,10,24,1575,0
5/28/20,1209,823,5277,681,18,19,4617,3287,104,2666,...,37,13,1,6,6,68,11,24,1674,1
5/29/20,1259,851,5422,684,18,19,4788,3297,104,2683,...,42,13,1,6,6,68,11,24,1769,1
5/30/20,1303,857,5549,692,18,19,4788,3317,104,2685,...,42,13,1,6,6,68,13,26,1865,1
5/31/20,1328,872,5748,694,18,19,5336,3386,104,2685,...,42,13,1,6,6,68,14,26,2004,1
6/1/20,1428,877,5894,698,18,19,5521,3402,104,2687,...,42,13,1,6,6,68,14,26,2089,1
6/2/20,1450,891,6067,733,18,20,5709,3427,104,2691,...,42,13,1,6,6,68,15,27,2217,1
6/3/20,1522,898,6218,735,18,20,5896,3454,104,2700,...,51,13,1,6,6,68,17,27,2347,2
6/4/20,1585,898,6297,738,18,20,5993,3468,104,2714,...,51,13,1,6,6,68,17,55,2401,2
6/5/20,1762,910,6453,741,21,20,6088,3513,104,2719,...,55,13,1,6,6,68,23,55,2491,2
6/6/20,1830,925,6631,741,24,20,6180,3720,104,2723,...,55,13,1,6,6,68,23,67,2583,2
6/7/20,1875,938,6717,744,24,20,6909,4014,104,2724,...,55,13,1,6,6,68,23,67,2673,2
6/8/20,2171,945,6799,751,38,20,7305,4099,104,2729,...,55,13,1,15,6,68,23,67,2763,2
6/9/20,2651,960,6951,757,38,20,7568,4451,104,2735,...,55,13,1,15,6,76,23,67,2815,2
6/10/20,3013,980,7074,759,40,20,7991,5226,104,2738,...,55,13,1,15,6,135,23,97,2947,2
6/11/20,3326,1001,7255,780,41,20,8332,5466,104,2743,...,55,13,1,48,6,146,23,97,3062,2
6/12/20,3928,1034,7322,781,42,20,8743,5639,104,2763,...,65,13,1,48,6,156,28,97,3158,2
6/13/20,4201,1039,7420,781,61,20,9083,6081,104,2766,...,66,13,1,49,8,176,39,114,3288,2
6/14/20,4725,1044,7606,781,61,20,9564,6214,104,2766,...,69,13,1,49,8,177,53,114,3409,2
6/15/20,5164,1055,7735,789,64,20,9891,6276,104,2768,...,69,13,1,49,8,177,79,114,3503,2

In [59]:
recovered_data_date_index.pop('Algeria')

1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/11/20    7255
6/12/20    7322
6/13/20    7420
6/14/20    7606
6/15/20    7735
Name: Algeria, Length: 146, dtype: object

In [60]:
recovered_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Afghanistan,Afghanistan,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
Albania,Albania,Albania,41.153300,20.168300,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
Algeria,Algeria,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
Andorra,Andorra,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
Angola,Angola,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,Sao Tome and Principe,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
Yemen,Yemen,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
Comoros,Comoros,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
Tajikistan,Tajikistan,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
Lesotho,Lesotho,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [61]:
## Getting data where Lat value is negative through where and dropna method
recovered_data.where(recovered_data['Lat'] < 0).dropna()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Angola,Angola,Angola,-11.202700,17.873900,0.0,0.0,0.0,0.0,0.0,0.0,...,24.0,24.0,38.0,38.0,40.0,41.0,42.0,61.0,61.0,64.0
Argentina,Argentina,Argentina,-38.416100,-63.616700,0.0,0.0,0.0,0.0,0.0,0.0,...,6180.0,6909.0,7305.0,7568.0,7991.0,8332.0,8743.0,9083.0,9564.0,9891.0
Australian Capital Territory,Australian Capital Territory,Australia,-35.473500,149.012400,0.0,0.0,0.0,0.0,0.0,0.0,...,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0,104.0
New South Wales,New South Wales,Australia,-33.868800,151.209300,0.0,0.0,0.0,0.0,0.0,0.0,...,2723.0,2724.0,2729.0,2735.0,2738.0,2743.0,2763.0,2766.0,2766.0,2768.0
Northern Territory,Northern Territory,Australia,-12.463400,130.845600,0.0,0.0,0.0,0.0,0.0,0.0,...,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0
Queensland,Queensland,Australia,-28.016700,153.400000,0.0,0.0,0.0,0.0,0.0,0.0,...,1050.0,1050.0,1051.0,1051.0,1051.0,1051.0,1051.0,1051.0,1051.0,1051.0
South Australia,South Australia,Australia,-34.928500,138.600700,0.0,0.0,0.0,0.0,0.0,0.0,...,436.0,436.0,436.0,436.0,436.0,436.0,436.0,436.0,436.0,436.0
Tasmania,Tasmania,Australia,-41.454500,145.970700,0.0,0.0,0.0,0.0,0.0,0.0,...,209.0,209.0,209.0,209.0,209.0,212.0,213.0,213.0,213.0,213.0
Victoria,Victoria,Australia,-37.813600,144.963100,0.0,0.0,0.0,0.0,0.0,0.0,...,1593.0,1595.0,1602.0,1616.0,1621.0,1632.0,1632.0,1657.0,1661.0,1664.0
Western Australia,Western Australia,Australia,-31.950500,115.860500,0.0,0.0,0.0,0.0,0.0,0.0,...,559.0,559.0,560.0,560.0,571.0,575.0,575.0,582.0,591.0,591.0
Bolivia,Bolivia,Bolivia,-16.290200,-63.588700,0.0,0.0,0.0,0.0,0.0,0.0,...,1902.0,2086.0,2159.0,2190.0,2261.0,2372.0,2431.0,2768.0,3113.0,3430.0
Brazil,Brazil,Brazil,-14.235000,-51.925300,0.0,0.0,0.0,0.0,0.0,0.0,...,277149.0,283952.0,378257.0,396737.0,413916.0,429965.0,445123.0,459436.0,469141.0,477709.0
Chile,Chile,Chile,-35.675100,-71.543000,0.0,0.0,0.0,0.0,0.0,0.0,...,103817.0,108150.0,112248.0,117361.0,121780.0,126444.0,131358.0,137296.0,143704.0,148792.0
Congo (Brazzaville),Congo (Brazzaville),Congo (Brazzaville),-4.038300,21.758700,0.0,0.0,0.0,0.0,0.0,0.0,...,210.0,210.0,210.0,221.0,221.0,221.0,221.0,221.0,221.0,391.0
Congo (Kinshasa),Congo (Kinshasa),Congo (Kinshasa),-4.038300,21.758700,0.0,0.0,0.0,0.0,0.0,0.0,...,537.0,537.0,537.0,539.0,565.0,567.0,580.0,595.0,600.0,613.0
Ecuador,Ecuador,Ecuador,-1.831200,-78.183400,0.0,0.0,0.0,0.0,0.0,0.0,...,21020.0,21020.0,21020.0,21020.0,21862.0,21862.0,22679.0,22865.0,23064.0,23349.0
Eswatini,Eswatini,Eswatini,-26.522500,31.465900,0.0,0.0,0.0,0.0,0.0,0.0,...,224.0,225.0,229.0,232.0,236.0,238.0,246.0,247.0,249.0,249.0
Fiji,Fiji,Fiji,-17.713400,178.065000,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0
French Polynesia,French Polynesia,France,-17.679700,149.406800,0.0,0.0,0.0,0.0,0.0,0.0,...,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0
Mayotte,Mayotte,France,-12.827500,45.166200,0.0,0.0,0.0,0.0,0.0,0.0,...,1523.0,1523.0,1654.0,1654.0,1654.0,1654.0,1790.0,1790.0,1790.0,2058.0
New Caledonia,New Caledonia,France,-20.904300,165.618000,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,19.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,21.0
Reunion,Reunion,France,-21.135100,55.247100,0.0,0.0,0.0,0.0,0.0,0.0,...,411.0,411.0,447.0,447.0,447.0,447.0,460.0,460.0,460.0,460.0
Gabon,Gabon,Gabon,-0.803700,11.609400,0.0,0.0,0.0,0.0,0.0,0.0,...,833.0,833.0,833.0,938.0,978.0,1024.0,1024.0,1024.0,1024.0,1334.0
Indonesia,Indonesia,Indonesia,-0.789300,113.921300,0.0,0.0,0.0,0.0,0.0,0.0,...,9907.0,10498.0,10904.0,11414.0,12129.0,12636.0,13213.0,13776.0,14531.0,15123.0
Kenya,Kenya,Kenya,-0.023600,37.906200,0.0,0.0,0.0,0.0,0.0,0.0,...,706.0,752.0,849.0,873.0,1048.0,1092.0,1164.0,1221.0,1253.0,1286.0
Madagascar,Madagascar,Madagascar,-18.766900,46.869100,0.0,0.0,0.0,0.0,0.0,0.0,...,212.0,233.0,254.0,274.0,296.0,312.0,344.0,362.0,367.0,384.0
Mauritius,Mauritius,Mauritius,-20.200000,57.500000,0.0,0.0,0.0,0.0,0.0,0.0,...,324.0,324.0,324.0,324.0,325.0,325.0,325.0,325.0,325.0,325.0
Mozambique,Mozambique,Mozambique,-18.665700,35.529600,0.0,0.0,0.0,0.0,0.0,0.0,...,126.0,127.0,131.0,136.0,138.0,144.0,145.0,151.0,151.0,157.0
Namibia,Namibia,Namibia,-22.957600,18.490400,0.0,0.0,0.0,0.0,0.0,0.0,...,16.0,16.0,16.0,16.0,17.0,17.0,17.0,17.0,17.0,17.0
New Zealand,New Zealand,New Zealand,-40.900600,174.886000,0.0,0.0,0.0,0.0,0.0,0.0,...,1481.0,1482.0,1482.0,1482.0,1482.0,1482.0,1482.0,1482.0,1482.0,1482.0
Papua New Guinea,Papua New Guinea,Papua New Guinea,-6.315000,143.955500,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
Paraguay,Paraguay,Paraguay,-23.442500,-58.443800,0.0,0.0,0.0,0.0,0.0,0.0,...,532.0,575.0,603.0,604.0,619.0,624.0,633.0,647.0,650.0,673.0
Peru,Peru,Peru,-9.190000,-75.015200,0.0,0.0,0.0,0.0,0.0,0.0,...,82731.0,86219.0,89556.0,92929.0,98031.0,102429.0,107133.0,111724.0,115579.0,119409.0
Rwanda,Rwanda,Rwanda,-1.940300,29.873900,0.0,0.0,0.0,0.0,0.0,0.0,...,283.0,290.0,297.0,300.0,307.0,313.0,321.0,332.0,332.0,338.0
Seychelles,Seychelles,Seychelles,-4.679600,55.492000,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
South Africa,South Africa,South Africa,-30.559500,22.937500,0.0,0.0,0.0,0.0,0.0,0.0,...,24258.0,24364.0,26099.0,29006.0,31505.0,33252.0,35006.0,36850.0,38531.0,39867.0
Tanzania,Tanzania,Tanzania,-6.369000,34.888800,0.0,0.0,0.0,0.0,0.0,0.0,...,183.0,183.0,183.0,183.0,183.0,183.0,183.0,183.0,183.0,183.0
Timor-Leste,Timor-Leste,Timor-Leste,-8.874200,125.727500,0.0,0.0,0.0,0.0,0.0,0.0,...,24.0,24.0,24.0,24.0,24.0,24.0,24.0,24.0,24.0,24.0
Uruguay,Uruguay,Uruguay,-32.522800,-55.765800,0.0,0.0,0.0,0.0,0.0,0.0,...,726.0,730.0,738.0,754.0,758.0,772.0,780.0,784.0,788.0,792.0
Zambia,Zambia,Zambia,-15.416700,28.283300,0.0,0.0,0.0,0.0,0.0,0.0,...,912.0,912.0,912.0,912.0,912.0,912.0,1104.0,1104.0,1122.0,1142.0
Zimbabwe,Zimbabwe,Zimbabwe,-20.000000,30.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,33.0,34.0,46.0,46.0,49.0,51.0,51.0,54.0,54.0,54.0
Botswana,Botswana,Botswana,-22.328500,24.684900,0.0,0.0,0.0,0.0,0.0,0.0,...,23.0,23.0,24.0,24.0,24.0,24.0,24.0,24.0,24.0,24.0
Burundi,Burundi,Burundi,-3.373100,29.918900,0.0,0.0,0.0,0.0,0.0,0.0,...,45.0,45.0,45.0,45.0,45.0,45.0,45.0,45.0,45.0,45.0
Malawi,Malawi,Malawi,-13.254308,34.301525,0.0,0.0,0.0,0.0,0.0,0.0,...,55.0,55.0,55.0,55.0,55.0,55.0,65.0,66.0,69.0,69.0
Falkland Islands (Malvinas),Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0
Comoros,Comoros,Comoros,-11.645500,43.333300,0.0,0.0,0.0,0.0,0.0,0.0,...,67.0,67.0,67.0,67.0,97.0,97.0,97.0,114.0,114.0,114.0
Lesotho,Lesotho,Lesotho,-29.609988,28.233608,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [210]:
#Multiplying Lat values with 10 
recovered_data['Lat'].mul(10)

Afghanistan              330.00000
Albania                  411.53300
Algeria                  280.33900
Andorra                  425.06300
Angola                  -112.02700
                           ...
Sao Tome and Principe      1.86360
Yemen                    155.52727
Comoros                 -116.45500
Tajikistan               388.61034
Lesotho                 -296.09988
Name: Lat, Length: 253, dtype: float64

In [212]:
# Gettin square of Lat values in dataframe through map function
recovered_data['Long'].map(lambda x: x**2)

Afghanistan              4225.000000
Albania                   406.760325
Algeria                     2.754272
Andorra                     2.315875
Angola                    319.476301
                            ...
Sao Tome and Principe      43.732840
Yemen                    2353.839905
Comoros                  1877.774889
Tajikistan               5080.281433
Lesotho                   797.136621
Name: Long, Length: 253, dtype: float64

In [62]:
# Getting max and min recovered people number for every location
recovered_data_date_index.agg(['max', 'min'])

,Afghanistan,Albania,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australian Capital Territory,New South Wales,Northern Territory,...,Malawi,Falkland Islands (Malvinas),Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
max,5164,1055,789,64,20,9891,6276,104,2768,29,...,69,13,1,49,8,177,79,114,3503,2
min,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Deaths Dataset

In [63]:
deaths_data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,111,112,112,127,129,136,139,160,164,208
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,48,48,48,48,48,49,49,50,50,50
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
#Doing the same thing for indexing
deaths_data['Province/State'] = deaths_data['Province/State'].fillna("")
for ind, item in (deaths_data['Province/State'].items()):
    if item == '': 
        deaths_data.iloc[ind,0]=deaths_data.iloc[ind,1]

In [65]:
deaths_data[deaths_data['Province/State'].duplicated()]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
231,Diamond Princess,Canada,0.0,0.0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [66]:
deaths_data.iloc[231,0]='Diamond Priencess (Canada)'

In [67]:
deaths_data.index = deaths_data['Province/State'].unique().tolist()

In [68]:
deaths_data = deaths_data.drop(columns=['Province/State'])

In [69]:
deaths_data

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Afghanistan,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
Albania,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
Algeria,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
Andorra,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
Angola,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
Yemen,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,111,112,112,127,129,136,139,160,164,208
Comoros,Comoros,-11.645500,43.333300,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
Tajikistan,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,0,...,48,48,48,48,48,49,49,50,50,50
Lesotho,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
deaths_data.loc['Turkey', '1/22/20']

0

In [71]:
deaths_data_date_index = deaths_data.T[3:]

In [72]:
deaths_data_date_index

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australian Capital Territory,New South Wales,...,Malawi,Falkland Islands (Malvinas),Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6/11/20,426,35,741,51,5,3,765,245,3,48,...,4,0,0,24,1,12,136,2,49,0
6/12/20,446,36,751,51,5,3,785,258,3,48,...,4,0,0,24,1,12,139,2,49,0
6/13/20,451,36,760,51,6,3,815,264,3,48,...,5,0,0,27,1,12,160,2,50,0
6/14/20,471,36,767,51,6,3,833,269,3,48,...,6,0,0,27,1,12,164,2,50,0
6/15/20,478,36,777,51,6,3,854,285,3,48,...,6,0,0,27,1,12,208,2,50,0

In [118]:
# Calculating total death numbers for locations
deaths_data_date_index.sum()

Afghanistan              11435
Albania                   2308
Algeria                  37166
Andorra                   3239
Angola                     219
                         ...
Sao Tome and Principe      393
Yemen                     2670
Comoros                     61
Tajikistan                1641
Lesotho                      0
Length: 266, dtype: object

In [119]:
## Getting mean of death numbers a day
deaths_data_date_index.mean()

Afghanistan               78.321918
Albania                   15.808219
Algeria                  254.561644
Andorra                   22.184932
Angola                          1.5
                            ...
Sao Tome and Principe      2.691781
Yemen                     18.287671
Comoros                    0.417808
Tajikistan                11.239726
Lesotho                         0.0
Length: 266, dtype: object

In [120]:
#Getting the death data from where average death numbers above 10000
deaths_data_date_index.mean().to_frame()[deaths_data_date_index.mean()>10000]

                           0
France          12249.342466
Italy            15368.60274
Spain           12634.431507
United Kingdom  14562.184932
US               37133.60274

In [121]:
# Getting death data where average death number is 0
deaths_data_date_index.mean().to_frame()[deaths_data_date_index.mean()==0]

                                    0
Northern Territory                0.0
Bhutan                            0.0
Cambodia                          0.0
Grand Princess                    0.0
Jiangsu                           0.0
Macau                             0.0
Ningxia                           0.0
Qinghai                           0.0
Shanxi                            0.0
Tibet                             0.0
Faroe Islands                     0.0
Greenland                         0.0
Eritrea                           0.0
Fiji                              0.0
French Polynesia                  0.0
New Caledonia                     0.0
Saint Barthelemy                  0.0
Holy See                          0.0
Mongolia                          0.0
Namibia                           0.0
Papua New Guinea                  0.0
Saint Lucia                       0.0
Saint Vincent and the Grenadines  0.0
Seychelles                        0.0
Uganda                            0.0
Gibraltar                         0.0
Vietnam                           0.0
Dominica                          0.0
Grenada                           0.0
Timor-Leste                       0.0
Laos                              0.0
Saint Kitts and Nevis             0.0
Northwest Territories             0.0
Yukon                             0.0
Anguilla                          0.0
Bonaire, Sint Eustatius and Saba  0.0
Falkland Islands (Malvinas)       0.0
Saint Pierre and Miquelon         0.0
Lesotho                           0.0

In [101]:
#Getting the max and min death numbers in a day 
deaths_data_date_index.agg(['max', 'min'])

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australian Capital Territory,New South Wales,...,Malawi,Falkland Islands (Malvinas),Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
max,478,36,777,51,6,3,854,285,3,48,...,6,0,0,27,1,12,208,2,50,0
min,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
# group by Turkey's mean value
deaths_data_date_index.groupby(by='Turkey').mean()

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australian Capital Territory,New South Wales,...,Malawi,Falkland Islands (Malvinas),Saint Pierre and Miquelon,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
Turkey,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.109091,0.254545,0.0,0.0,0.0,0.236364,0.0,0.0,0.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.5,5.5,0.0,0.0,0.0,2.0,0.0,0.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,2.0,9.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,2.0,11.0,0.0,0.0,0.0,3.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,2.0,15.0,0.0,0.0,0.0,4.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4763,426.0,35.0,741.0,51.0,5.0,3.0,765.0,245.0,3.0,48.0,...,4.0,0.0,0.0,24.0,1.0,12.0,136.0,2.0,49.0,0.0
4778,446.0,36.0,751.0,51.0,5.0,3.0,785.0,258.0,3.0,48.0,...,4.0,0.0,0.0,24.0,1.0,12.0,139.0,2.0,49.0,0.0
4792,451.0,36.0,760.0,51.0,6.0,3.0,815.0,264.0,3.0,48.0,...,5.0,0.0,0.0,27.0,1.0,12.0,160.0,2.0,50.0,0.0
4807,471.0,36.0,767.0,51.0,6.0,3.0,833.0,269.0,3.0,48.0,...,6.0,0.0,0.0,27.0,1.0,12.0,164.0,2.0,50.0,0.0
4825,478.0,36.0,777.0,51.0,6.0,3.0,854.0,285.0,3.0,48.0,...,6.0,0.0,0.0,27.0,1.0,12.0,208.0,2.0,50.0,0.0

In [80]:
#group by Turkey's death numbers and apply function that add 5 to the value
deaths_data_date_index.groupby(by='Turkey').apply(lambda x: x+5)

               Afghanistan Albania Algeria Andorra Angola Antigua and Barbuda  \
Turkey
0      1/22/20           5       5       5       5      5                   5
       1/23/20           5       5       5       5      5                   5
       1/24/20           5       5       5       5      5                   5
       1/25/20           5       5       5       5      5                   5
       1/26/20           5       5       5       5      5                   5
...                    ...     ...     ...     ...    ...                 ...
4763   6/11/20         431      40     746      56     10                   8
4778   6/12/20         451      41     756      56     10                   8
4792   6/13/20         456      41     765      56     11                   8
4807   6/14/20         476      41     772      56     11                   8
4825   6/15/20         483      41     782      56     11                   8

               Argentina Armenia Australian Capital Territory New South Wales  \
Turkey
0      1/22/20         5       5                            5               5
       1/23/20         5       5                            5               5
       1/24/20         5       5                            5               5
       1/25/20         5       5                            5               5
       1/26/20         5       5                            5               5
...                  ...     ...                          ...             ...
4763   6/11/20       770     250                            8              53
4778   6/12/20       790     263                            8              53
4792   6/13/20       820     269                            8              53
4807   6/14/20       838     274                            8              53
4825   6/15/20       859     290                            8              53

                ... Malawi Falkland Islands (Malvinas)  \
Turkey          ...
0      1/22/20  ...      5                           5
       1/23/20  ...      5                           5
       1/24/20  ...      5                           5
       1/25/20  ...      5                           5
       1/26/20  ...      5                           5
...             ...    ...                         ...
4763   6/11/20  ...      9                           5
4778   6/12/20  ...      9                           5
4792   6/13/20  ...     10                           5
4807   6/14/20  ...     11                           5
4825   6/15/20  ...     11                           5

               Saint Pierre and Miquelon South Sudan Western Sahara  \
Turkey
0      1/22/20                         5           5              5
       1/23/20                         5           5              5
       1/24/20                         5           5              5
       1/25/20                         5           5              5
       1/26/20                         5           5              5
...                                  ...         ...            ...
4763   6/11/20                         5          29              6
4778   6/12/20                         5          29              6
4792   6/13/20                         5          32              6
4807   6/14/20                         5          32              6
4825   6/15/20                         5          32              6

               Sao Tome and Principe Yemen Comoros Tajikistan Lesotho
Turkey
0      1/22/20                     5     5       5          5       5
       1/23/20                     5     5       5          5       5
       1/24/20                     5     5       5          5       5
       1/25/20                     5     5       5          5       5
       1/26/20                     5     5       5          5       5
...                              ...   ...     ...        ...     ...
4763   6/11/20                    17   141       7         54       5
4778   6/12/20                    17   144       7         54       5
4792   6/13/20                    17   165       7         55       5
4807   6/14/20                    17   169       7         55       5
4825   6/15/20                    17   213       7         55       5

[146 rows x 266 columns]

In [84]:
deaths_data_date_index.T

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
Albania,0,0,0,0,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
Algeria,0,0,0,0,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
Andorra,0,0,0,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
Angola,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sao Tome and Principe,0,0,0,0,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
Yemen,0,0,0,0,0,0,0,0,0,0,...,111,112,112,127,129,136,139,160,164,208
Comoros,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
Tajikistan,0,0,0,0,0,0,0,0,0,0,...,48,48,48,48,48,49,49,50,50,50
Lesotho,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
deaths_data_date_index['Turkey']

1/22/20       0
1/23/20       0
1/24/20       0
1/25/20       0
1/26/20       0
           ...
6/11/20    4763
6/12/20    4778
6/13/20    4792
6/14/20    4807
6/15/20    4825
Name: Turkey, Length: 146, dtype: object

In [86]:
infected_data_date_index['Turkey']

1/22/20         0
1/23/20         0
1/24/20         0
1/25/20         0
1/26/20         0
            ...
6/11/20    174023
6/12/20    175218
6/13/20    176677
6/14/20    178239
6/15/20    179831
Name: Turkey, Length: 146, dtype: object

In [87]:
recovered_data_date_index['Turkey']

1/22/20         0
1/23/20         0
1/24/20         0
1/25/20         0
1/26/20         0
            ...
6/11/20    147860
6/12/20    149102
6/13/20    150087
6/14/20    151417
6/15/20    152364
Name: Turkey, Length: 146, dtype: object

In [89]:
# Merging dataframes of Turkey's data
Turkey_covid = pd.concat([infected_data_date_index['Turkey'],deaths_data_date_index['Turkey'], recovered_data_date_index['Turkey']], axis=1, join="inner")

In [90]:
Turkey_covid.columns = ['infected' , 'deaths', 'recovered']

In [91]:
Turkey_covid

        infected deaths recovered
1/22/20        0      0         0
1/23/20        0      0         0
1/24/20        0      0         0
1/25/20        0      0         0
1/26/20        0      0         0
...          ...    ...       ...
6/11/20   174023   4763    147860
6/12/20   175218   4778    149102
6/13/20   176677   4792    150087
6/14/20   178239   4807    151417
6/15/20   179831   4825    152364

[146 rows x 3 columns]

In [93]:
#Getting the data where death numbers more than recovery numbers in Turkey
Turkey_covid[Turkey_covid['deaths']>Turkey_covid['recovered']]

        infected deaths recovered
3/17/20       47      1         0
3/18/20       98      1         0
3/19/20      192      3         0
3/20/20      359      4         0
3/21/20      670      9         0
3/22/20     1236     30         0
3/23/20     1529     37         0
3/24/20     1872     44         0
3/25/20     2433     59        26
3/26/20     3629     75        26
3/27/20     5698     92        42
3/28/20     7402    108        70
3/29/20     9217    131       105
3/30/20    10827    168       162

In [96]:
# Getting total number of infections, recoverys, deaths  in Turkey
Turkey_covid.sum()

infected     9250797
deaths        245478
recovered    5635708
dtype: object

In [95]:
#Getting the avarege of infections, recoverys, deaths in Turkey
Turkey_covid.mean()

infected     63361.623288
deaths        1681.356164
recovered    38600.739726
dtype: object

In [94]:
#Standartization using apply
Turkey_covid['infected'].apply(lambda x : (x-Turkey_covid['infected'].mean())/Turkey_covid['infected'].std()).to_frame()

         infected
1/22/20 -0.911421
1/23/20 -0.911421
1/24/20 -0.911421
1/25/20 -0.911421
1/26/20 -0.911421
...           ...
6/11/20  1.591801
6/12/20  1.608991
6/13/20  1.629977
6/14/20  1.652446
6/15/20  1.675346

[146 rows x 1 columns]